.form{
    background-color: #f0f8ff91;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 90%;
}
.formContainer{
    background-image: url('https://media.revistagq.com/photos/613f011855410d2ed6954ee7/16:9/w_2560%2Cc_limit/2445034.jpg');
    height: 100vh;
    background-size: contain;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
