.input_search{
    background-color: #030303;
    width: 264px;
    height: auto;
    color: #030303;
    border: 2px solid #000;
    background: #f19888;;
    padding: 7px;
    font-size: unset;
    font-family: cursive;
   }

   .button_search{
    background-color: #0000;
    border: 0px;
   }

   .honguito{
    width: 60px;
    height: auto;
    padding: 7px;
    margin-top: 3px;
    box-shadow: inset 1px -1px 20px 3px rgb(255 98 72);
   }

   .form_search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
   }

   .filtros{
    background-color: tomato;
    font-size: medium;
    width: 264px;
    height: auto;
    border: solid;
    padding: 7px;
   }
   .myButton2{
    box-shadow: -2px 12px 37px -3px #d61ac9;
    background: linear-gradient(to bottom, #f52594 5%, #997b40 100%);
    background-color: #f52594;
    border-radius: 27px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: cursive;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 50px;
    text-decoration: none;
    text-shadow: 1px 1px 23px #573d46;
   }
   